/* about me font */
@import url('https://fonts.googleapis.com/css?family=K2D');

* {
  font-family: 'K2D', sans-serif;
}

body {
    margin: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(56, 54, 56, 0.9);
}
    /* this will also make the background responsive */
    .hero-image {
        background-image: url("./images/background.jpg");
        background-color: #000;
        /* background-position: center top; */
        background-position: 0% 15%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }

  div.contentContainer {
    background: rgba(235, 156, 156, 0.3);
    /* width: 100%; */
    padding: 1em;
    /* adjusting this will adjust height of background image */
    height: 100%;
  }

  footer {
    background: rgba(161, 138, 138, 0.8);
    padding: 0.7em;
    /* text-shadow: 1px 1px #fff; */
  }

  div.containerForBorderRadius {
    border-radius: 0 0 10px 10px;
    /* border: 1em solid black; */
    border-right: 1em solid black;
    border-left: 1em solid black;
    border-bottom: 1em solid black;
    
  }

    /* flex container for header */
  .flexContainer {
    border-top: 0.7em solid black;
    border-right: 1em solid black;
    border-left: 1em solid black;
    border-bottom: 0.38em solid black;
    display: flex;
    /* background: rgba(10, 9, 9, 0.5); */
    background-color: black;
    background-image: url("./images/paisely.png");
    /* background-position: center top; */
    /* background-position: 0% 15%; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* fatten up header */
    /* padding: 2.5em; */
    border-radius: 10px 10px 0px 0;
    flex-direction: row;
    justify-content: center;
  }
  
  /* .flexContainer > div {
  } */

  .flexContainer h1 {
    /* font-size: 6.7em; */
    font-size: 7em;
    text-shadow: 2px 2px 5px rgb(19, 0, 12);
    color: rgb(235, 217, 217);
    margin: 0;
    margin-top: 0.2em;
    padding-bottom: 0.3em;

    /* text-align: center; */
    /* margin-left: 0.7em; */
    /* transition: text-shadow 1.5s; */
  }

  .flexContainer img {
    width: 7em;
    height: 7em;
    margin-top: 3em;
    margin-left: 2.3em;
    transition: transform 2s;
    margin-bottom: 2em;
     
  }

  .flexContainer img:hover {
    transform: rotateY(165deg);
  }

  .transparentContainerCourseWork {
    /* this is the color giving off pink hue */
    background: rgba(164, 162, 165, 0.9);
    padding: 2em;
    border-radius: 1em;
    border: 1px solid rgb(63, 4, 112);
    box-shadow: 5px 10px 3px black;
  }

  /* targets children divs */
  .transparentContainerCourseWork > div {
    /* background-color: red; */
    /* text-align: center; */
    display: flex;

  }

  .navigation {
    background: rgba(51, 3, 47, 0.5);
    border-left: 1em solid black;
    border-right: 1em solid black;
    margin: 0;
    padding: 0.1em;
    border-bottom: 1px solid black;
  }

  .navigation ul li {
    display: inline;
    list-style-type: none;
    font-size: 2em;
    color: white;
    text-shadow: 1px 2px 2px #000;
    margin-right: 1em;
  }

  .navigation ul li a {
    color: white;
    text-decoration: none;
  }

  .navigation ul li a:hover {
    color: rgb(250, 236, 176);
  }

.avatarContainer {
  background-color: rgb(38, 38, 38);
  padding: 1em;
  width: 50%;
  border-radius: 1em;
  border: 2px solid black;
  text-align: center;
}

.avatarContainer img {
  width: 25em;
  height: 25em;
}

#intro {
  /* already specified in universal tag */
  /* font-family: 'K2D', sans-serif; */
  font-size: 1.5em;
  padding-right: 1em;
}

.resume img {
  box-shadow: 2px 5px 10px #000;
}


/* MOBILE  */

  @media only screen and (max-width: 600px) {
    body {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    
    .hero-image {
        background-image: url("./images/background.jpg");
        background-color: #000;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* footer {
        background: rgba(161, 138, 138, 0.8);
        padding: 0.4em;
        text-shadow: 1px 1px #fff;
    } */
  

    .transparentContainerCourseWork {
      width: 80%;
      display: block;
      /* flex-wrap: wrap; */
    }
     /* targets children divs */
  .transparentContainerCourseWork > div {
    /* background-color: red; */
    /* text-align: center; */
    display: block;

  }

    .transparentContainerCourseWork #intro {
      
    }

    .flexContainer img {
      width: 5em;
      height: 5em;
      margin-top: 3em;
      margin-right: 2em; 
      /* margin-left: 2.3em; */
      transition: transform 2s;
      /* margin-bottom: 2em; */
      /* margin-left: -.5em; */
       
    }

    .avatarContainer {
      height: 10em;
    }

    .avatarContainer img {
    }

    .flexContainer h1 {
      font-size: 3.5em;
      text-shadow: 2px 2px 5px rgb(19, 0, 12);
      color: rgb(235, 217, 217);
      margin: 0;
      margin-top: 0.1em;
      margin-left: 1em;
  
      /* text-align: center; */
      /* margin-left: 0.7em; */
      /* transition: text-shadow 1.5s; */
    }

    .avatarContainer {
      background-color: rgb(38, 38, 38);
      padding: 1em;
      width: 50%;
      border-radius: 1em;
      border: 2px solid black;
      text-align: center;
    }
    
    .avatarContainer img {
      width: 8em;
      height: 8em;
    }
    
    #intro {
      /* already specified in universal tag */
      /* font-family: 'K2D', sans-serif; */
      font-size: 1em;
      padding-right: 1em;
    }

    
  
    
    

}